# MARK: - Xcode User-Specific
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.xcworkspace/
*.xcuserstate

# MARK: - macOS System Files
.DS_Store

# MARK: - Build Artifacts
DerivedData/
*.xcdebugger/

# MARK: - Swift Package Manager
.swiftpm/
.build/

# MARK: - CocoaPods ( maybe in the future mi bredda )
Pods/

# MARK: - Preview Files
*.preview-thumbnails

