# MARK: - Xcode User-Specific
# User specific Data?
*.xcuserdatad/
# tracks the current source control setup ?
*.xcscmblueprint
# Xcode things with git?
*.xccheckout
# how many tabs, where is the scroll etc
*.xcuserstate
xcuserdata/
*.mode1v3

# MARK: - macOS System Files
.DS_Store
# Vim artifact
*.swp

# MARK: - Build Artifacts
DerivedData/
build/
*.app
*.ipa
# deployed build
*.xcarchive
# no idea
*.dSYM
*.xcdebugger/

# MARK: - Swift Package Manager
# UI related ?
.swiftpm/
# Builded artificat, linked files?
.build/

# MARK: - CocoaPods not Used
# Pods/

# MARK: - Playground Support
timeline.xctimeline
playground.xcworkspace

# MARK: - Preview Files
*.preview-thumbnails
*.xcpreview*

# MARK: - Logs and Crash Reports
*.log
*.crash

# MARK: - Optional: Protect Against Accidental Config Overwrites
# This specifically targets WorkspaceSettings.xcsettings within the project's workspace ? Not sure
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
